body {
    background: #fff;
    font-family: Ubuntu;
    box-sizing: border-box;
    color: #2C2C2C;
}

header {
    background-color: #eaeaea;
}

h2 {
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */

text-transform: uppercase;

/* TEXT */

color: #2C2C2C;
}

.wrapper, .head-trinity-img {
    max-width: 1160px;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
}

.head-trinity-img {
    max-width: 100%;
}

.section1 {
    padding: 30px 0;
    position: relative;
}

.sect1-pic {
    max-width: 100%;
    position: absolute;
    right: 0;
    bottom: -45px;
    /* background-image: url("../img/main/pic.png"); */
    z-index: -5;
}

@media screen and (max-width: 981px) {
    .sect1-pic {
        opacity: 0.85;
    }
}

@media screen and (max-width: 770px) {
    .sect1-pic {
        transform: scale(-1, 1); 
        right: none;
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .sect1-pic {
        transform: scale(-1, 1); 
        right: none;
        /* scale: 0.4; */
    }
    .block1 {
        text-align: center;
    }   
}



.misto-logo {
    max-width: 294px;
    margin-bottom: 30px;
}

.zapishi1 {
    max-width: 409px;
    font-weight: bold;
    font-size: 43px;
    line-height: 49px;
    text-transform: uppercase;
    color: #64B42D;
    margin-bottom: 10px;
}

.zapishi2 {
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.zapishi-logo {
    width: 280px;
    height: 39px;
    left: 15px;
    display: flex;
    margin-bottom: 42px;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .zapishi-logo {
        margin-bottom: 42px;
        justify-content: space-around;
        width: 100%;
    }

    .misto-logo {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .zapishi1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    
    .zapishi2 {
        font-size: 12px;
        letter-spacing: 0.05em;
        margin-bottom: 10px;
    }

    .arduino {
        order: 1;
    }
    .wedo-en-benidorm {
        order: 1;
    }
}

.Python-logo {
    width: 39px;
    height: 39px;
    background-image: url("../img/Python-logo-1.png");
}

.arduino {
    width: 52px;
    height: 39px;
    background-image: url("../img/arduino-1.png");
}

.scratch {
    width: 49px;
    height: 39px;
    background-image: url("../img/scratch-1.png");
}

.wedo-en-benidorm {
    width: 76px;
    height: 39px;
    background-image: url("../img/wedo-en-benidorm-1.png");
}

.take-order, .take-order3 {
    padding: 18px 37px;
    background: #64B42D;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    color: #FFFFFF;
}



/* .balls {
    width: 714px;
    height: 547px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../img/main/balls.png");
    z-index: -5;
}

.slon {
    width: 472px;
    height: 457px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../img/main/slon.png");
    z-index: -4;
}

.girl {
    width: 251px;
    height: 547px;
    position: absolute;
    right: 250px;
    bottom: 0;
    background-image: url("../img/main/girl.png");
    z-index: -3;
}

.boy {
    width: 333px;
    height: 403px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/main/boy.png");
    z-index: -2;
} */

.section2 {
    padding-top: 40px;
}

.section3 {
    padding-top: 5px;
}

.section2 {
padding-bottom: 50px;
}

.gradient {
    background: linear-gradient(to bottom, #eaeaea 0%, #f0f0f0 50%, #fff 100%);
}

.block2Head, .block3Head {
    flex-wrap: wrap;
    margin: 45px 0;
}

.row-robo, .block2Head, .block3Head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row3 {
    width: 33.33%;
    
}

.itcours {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.itcours-grey {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #919191;
}

.text-left1 {
    text-align: left;
}

@media screen and (max-width: 799px) {
    .itcours {
        font-size: 18px;
        line-height: 20px;
    }
    
    .itcours-grey {
        font-size: 12px;
        line-height: 120%;
    }

    .block2Head, .block3Head {
        flex-wrap: wrap;
        margin: 15px 0;
    }

    .section2 {
        padding-top: 20px;
    }
}

.swiper-pagination, .swiper-pagination3 {
    display: inline-flex;
    align-items: center;
    text-align: center;
    height: 54px;
    width: fit-content;
    position: static;
}

.row-center {
    display: block;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: 1;
    background: #919191;
    box-shadow: 0px 1px 1px #919191;
    margin: 5px;
}

.swiper-pagination-bullet-active {
    background: #64B42D;
    box-shadow: 0px 1px 1px #2DC218;
}

.arrows {
     display: inline-flex;
     width: fit-content;
     height: 50px;
 }

 .row-end {
    text-align: end;
 }

 .swiper--nav {
     display: flex;
     justify-content: space-between;
     margin-bottom: 27px;
     margin-right: 15px;
 }

.swiper-button-p {
    margin-top: 0;
    margin-right: 25px;
    color: transparent;
    width: 50px;
    height: 50px;
    position: unset;
    align-items: center;
    background-image: url("../img/arrow-left/arrow-left.svg");
}

.swiper-button-n {
    margin-top: 0;
    color: transparent;
    width: 50px;
    height: 50px;
    position: unset;
    background-image: url("../img/arrow-right/arrow-right.svg");
}

@media screen and (max-width: 500px) {
    .swiper-button-p {
        transform: scale(0.75);
        margin-right: 5px;
    }
    .swiper-button-n {
        transform: scale(0.75);
    }
}

.swiper-container {
    width: 99%;
    height: 540px;
}

.slider1--slide {
    display: flex;
}

.slide1-container {
    width: 100%;
    position: relative;
    margin: 3px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding: 10% 5% 5% 10%;
}

.slide1-container:hover {
    transition: all .3s ease-in-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.slideHeader {
    position: relative;
    height: 33.33%;
    
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.salesChild {
    position: absolute;
    top: -23%;
    right: -5%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 8px;
    background: #D6326C;
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-flex;
    width: fit-content;
}

.salesChild--no-magrin {
    margin-left: 0px;
    position: static;
}

.slideTitle {
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-transform: uppercase;
    /* LIGHT GREEN */
    color: #64B42D;
}

.slideTitle--small-padding {
    left: 30px;
}

.slideChAge {
    position: absolute;
    top: 100px;
    width: 170px;
    height: var(--slideChAge-height);
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(44, 44, 44, 0.15);
    border-radius: 30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    /* LIGHT GREEN */
    color: #64B42D;
    line-height: var(--slideChAge-height);
    
}

.slide1img {
    position: absolute;
    right: 6%;
    z-index: -5;
    bottom: 10%;
}

.slide2img {
    position: absolute;
    right: 3%;
    top: 0;
    z-index: -5;
    max-width: 100%;
    max-height: auto;
}

.slideText {
    margin-top: 5%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

.topMarg {
    position: initial;
    margin-top: 1%;
}

.slide-price {
    position: relative;
    margin-top: auto;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;
    letter-spacing: 0.05em;
    /* GREY */
    color: #919191;
    text-align: left;
}

.price {
    display: inline;
    position: absolute;
    right: 5%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    /* LIGHT GREEN */
    color: #64B42D;
}

.valuta {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    color: #2C2C2C;

}

.choose-order {
    position: absolute;
    width: 172px;
    height: 42px;
    left: 89px;
    top: 458px;
    /* yellow */
    background: #FBC901;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 0;
}

@media screen and (max-width: 600px) {
    .choose-order {
        position: absolute;
        width: 172px;
        height: 42px;
        left: 25%;
        top: 458px;
    }
}

.listStyle li {
    position: relative;
    padding: 5px 0 0 15px;
    cursor: pointer;
    
  }

.listStyle li:before {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    content: "";
    left: 3px;
    transition: .3s ease-in-out;
    transform: translate(0, 150%)
  }

  p {
      margin-top: 1%;
  }

  li {
    line-height: 98%;
  }


.socialMedia {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .socialMedia {
        justify-content: center;
        margin: 0 auto;
    }
    .titleBlock3 {
        text-align: center;
        margin: 0 auto;
    }
}

.socialMedia > a {
    margin: 0 12px;
}

.socialMedia > a:hover{
    transition: all .3s linear;
    filter: invert(60%) sepia(15%) saturate(2060%) hue-rotate(52deg) brightness(99%) contrast(85%);
}

.video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video>video {
    width: 663px;
}

.video>ul {
    margin-left: 52px;
    margin-top: 10px;
    display: block;
}

.video>ul>li {
font-size: 18px;
margin-top: 6px;
}

.video>ul>li:nth-child(odd) {
    list-style-image: url("../img/list.png");
}

.video>ul>li:nth-child(even) {
    list-style-image: url("../img/Line2.png");
    list-style-position: -10px;
}

.foot3 {
    position: relative;
    margin-top: 60px;
}

@media screen and (max-width: 600px) {
    .video>ul {
        margin-left: 20px;
    }
    .video>ul>li:nth-child(even) {
        list-style-image: none;
        list-style-position: none;
    }
    .video>ul>li:nth-child(odd) {
        list-style-type: circle;
        list-style-image: none;
        color: #64B42D;
    }
    .foot3 {
        margin-top: 20px;
    }
    .video>ul>li>span {
        line-height: 16px;
        color: #2C2C2C;
        }

        .order3 button, .order3 input {
            margin-top: 15px;
            margin: 0 auto;
        }

}


.zapishi3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #64B42D;
}

@media screen and (max-width: 600px) {
    .foot3 {
        margin-top: 10px;
        text-align: center;
        position: relative;
    }
    .text-left1 {
        text-align: right;
    }
}

.order3 {
    display: flex;
    flex-wrap: wrap;
}

.order3 button, .order3 input {
    margin-top: 32px; 
}

.telInput {
    width: 350px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    color: #C3C3C3;
    margin-right: 27px;
    border-width: 0;
}

.take-order3 {
    height: 64px;
}

.dog3 {
position: absolute;
width: 199px;
height: 232px;
right: 0;
top: 30px;
z-index: -5;
background: url("../img/5f2d2656b3012.png");
}

.section4 {
    margin-top: 65px;
}

.flex-wrap-relative {
    display: flex;
    flex-wrap: wrap;
    position: relative;    
}

.lego1 {
    background: url('../img/lego.png');
    width: 500px;
    height: 793px;
    position: absolute;
    z-index: -1;
    top: -22%;
    left: -3%;
}

.lego2 {
    background: url(../img/lego-1.png);
    width: 814px;
    height: 793px;
    position: absolute;
    z-index: -1;
    top: -28%;
    right: 0;
}

@media (max-width: 992px) {
    .lego1 {
        display: none;
    }
    
    .lego2 {
        display: none;
    }

}

.cell4 {
    /* width: calc(33.33% - 42px); */
    display: flex;
}

.list4 {
    /* max-width: 1141px; */
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-bottom: 30px;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .list4 {
        margin-bottom: 20px;
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .section4 .wrapper {
        text-align: center;
    }
    .list4 {
        justify-content: center;
        text-align: left;
    }
}

.list4-img1 {
    display: inline;
    padding-top: 4px;
}

h3 {
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.05em;
}

.list-text1 {
    max-width: 300px;
    padding-left: 16px;
    padding-right: 26px;
    margin-bottom: 55px;
}

.section5 {
    background-color: #eaeaea;
}

.section5, .section6 {
font-size: 14px;
line-height: 16px;
padding: 75px 0;
letter-spacing: 0.05em;
}

.slider2 {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.swiper-container2 {
    max-width: 82%;
}

.slider2--slide {
text-align: center;
max-width: 160px;
}

@media (max-width: 1135px) {
    .swiper-container2 {
        max-width: 70%;
    }

    .slider2--slide img {
        width: 100%;
    }

    .slider2 {
        justify-content: space-around;
        margin-top: 35px;
    }
}


.swiper2--text-teacher {
    text-align: center;
margin-top: 20px;
}

.text-teacher--short {
    letter-spacing: 0;
}

.swiper-button-center {
    display: flex;
    align-items: center;
}

.swiper-button-prev2 {
    margin: 0 0;
}

.swiper-container4 {
    display: none;
    
}

.swiper-container3 {
    max-width: 100%;
}



.swiper-container3 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

 

 .swiper3__img1 {
    width: 409px;
    height: 273px;
}

.swiper3__img2 {
    width: 412px;
    height: 273px;
    margin: 0 18px;
}

.swiper3__img3 {
    width: 252px;
    height: 273px;
}

.swiper3__img4 {
    width: 297px;
    height: 289px;
}

.swiper3__img5 {
    width: 435px;
    height: 289px;
    margin: 0 18px;
}

.swiper3__img6 {
    width: 342px;
    height: 289px;
}

.swiper-slide3 img {
    margin-top: 18px;
}

@media (max-width: 1175px) {
    .swiper-container3 {
        display: none;
    }

    .swiper-container4 {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .section6 .row-center {
        max-width: 66.66%;
        overflow: hidden;
    }

    .section6 .start {
        display: none;
    }

    .swiper-container4 img {
        max-width: 100%;
      }
}

@media (max-width: 800px) {
    .swiper-container4 img {
        width: 100%;
      }

      .swiper--nav {
          justify-content: center;
      }

}

@media (max-width: 500px) {
    .section6 .swiper--nav {
        display: none;
    }
}

.section7 {
    padding-top: 25px;
    display: flex;
    justify-content: start;
    position: relative;
}

.h2--big {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.take-order7 {
margin-top: 55px;
margin-bottom: 25px;
}

.grey7 {
    padding-bottom: 55px;
}

.section7--right {
    background-image: url("../img/Слой 0 1.png");
    width: 359px;
    height: 275px;
    right: 15px;
    position: absolute;
    bottom: 0px;
    z-index: -5;
}

.section8 {
    padding: 55px 0;
    background-color: #64B42D;
}

.section8--flex {
    display: flex;
    justify-content: space-around;
}

.section9--flex {
    display: flex;
    justify-content: flex-end;
position: relative;
}

.section8 .section8--flex>div {
font-weight: bold;
font-size: 96px;
line-height: 110px;
letter-spacing: 0.025em;
color: #FFFFFF;
text-align: center;
}

.section8--flex p {
    font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.025em;
}

.section9 {
    margin-top: 90px;
}

.section9--left {
    background-image: url("../img/robots 1.png");
    width: 365px;
    height: 340px;
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: -5;
}

.section9--right {
    text-align: center;
    position: relative;
    right: 0;
    margin-right: 15px;
}

.section9--h2 {
    font-weight: bold;
    font-size: 43px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.section9--telInput[type="text"] {
    margin-top: 35px;
}

.section9--telInput {
    width: 350px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border-width: 0px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;
    text-transform: lowercase;
    color: #C3C3C3;
    text-align: start;
    padding-left: 42px;
    margin-bottom: 26px;
}

.take-order--9 {
    margin-bottom: 23px;
}

.footer--left {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
}

footer span {
    margin: 45px 0;
}

.footer--right {
    display: flex;  
    align-items: flex-end;
    margin-bottom: 15px;
}

.footer--right img {
    max-width: 100%;
}

footer {
    margin: 100px 0;
}

.modal-body .row img {
    width: 102px;
    height: 101px;
}

.row--modal {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.order-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #919191;
}

.order-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #C3C3C3;
}

.modal__take-order {
    padding: 50px auto;
    text-align: center;
}
 footer .wrapper {
     padding: 0 15px;
 }

 @media screen and (max-width: 799px) {
    .section8--flex {
        transform: scale(.75);
    }
    .section8 {
        padding: 20px 0;
    }

    .section9--left {
        left: initial;
        right: 0;
    }

    .dog3, .section9--left, .section7--right {
        opacity: 0.75;
    }

    .dog3 {
        transform: scale(0.5);
        right: -52px;
        top: 4px;
        z-index: -5;
        background: url("../img/5f2d2656b3012.png");
        }
}